/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DCBFFF; /* Background color for the entire page */
  }
  
  .login-form {
      height: 70%;
      width: 50%;
    background-color: #fff; /* Background color for the form */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10%;
    transition: background-color 0.3s;
    animation: fadeIn 1s ease forwards;
  }
  
  .login-form:hover {
    background-color: #f0f0f0; /* Background color on hover */
  }
  
  .form-group {
      margin-bottom: 2rem;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  